* {
  margin: 0;
  padding: 0;
  border: border-box;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
}

/* Starting of box of Navbar */
.nav-logo {
  height: 50px;
  width: 100px;
}

.logo {
  height: 50px;
  width: 100%;
  background-size: cover;
  background-image: url("assets/amazon_logo.png");
}

.hover-border {
  border: 2px solid transparent;
}

.hover-border:hover {
  border: 2px solid white;
}

/* This is starting of second box of navbar */
.add-first {
  font-size: 0.85rem;
  color: #cccccc;
  margin-left: 15px;
}

.add-second {
  font-size: 1rem;
  margin-left: 3px;
}

.location-icon {
  display: flex;
  align-items: center;
}
